@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,900,700,500,300);

* {/* Reset */
  margin: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  background: #EDEDED;
  font-family: 'Roboto', serif;
  color: #222;
}


#apptitle{
  width: 50%;
  margin-left: 20px;
  margin-top 25px;
  padding-top: 12px;
  float: left;
}

.pull-right{
  margin-top: 20px;
}

.allholder{
  margin: 0px;
  width: 100%;
  height: 100%;
  position: relative;
}
.nav .centered{
  padding: 12px 0 12px 95px;
  border-bottom: 1px #EDEDED solid;
}
#logo-center img{
  transition:.15s;
  opacity:1;
  
}
#logo-center img:hover{
  opacity:.9;
}

.selected a{
  color: #222 !important;
}
.status-bar { /*Very top bar*/
  position: fixed;
  top: 0px;
  z-index: 51;
  width: 100%;
  display: block;
  height: 20px;
  background: #B71C1C;
  transition: 0.3s;
}
.toolbar{ /*Second Top Bar*/
  color: #FFF;
  margin-top: 20px;
  top: 0px;
  position: fixed;
  width: 100%;
  height: 48px;
  background: #E53935;
  z-index: 50;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  transition: 0.3s;
  padding:top;
}
.toolbar .tools{
  padding-top: 15px;
  position: fixed;
  right: 20px;
}
.toolbar .tools ul{
  list-style-type: none;
}
.toolbar .tools ul li{
  display: inline;
  padding-left: 2px;
}
.toolbar #hamburger{
  float: left;
  visibility: visible;
  padding: 15px;
}
#search, #settings, #hamburger, #postsettings{
  color: #FFF;
  cursor: pointer;
}
  
#content{
  margin: 75px auto 0 180px;
  width: 70%;
} 

.boxes{
  margin: 110px auto 0 300px;
  width: 60%;
}
[class*='col-']{ /* Targets anything with 'col-' */
  float: left; 
}
.col-1-1{
  width: 100%;
  height: 200px;
}
.col-1-3{
  width: 33.333%;
  height: 200px;
}
.col-1-2{
  width: 50%;
  height: 200px;
}
.col-1-5{
  width: 5%;
}
 
.module{
  padding:10px;
  margin: 10px;
  height: 180px;
  background:white;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  font-family: 'Roboto', san-serif;
  font-weight: 700;
  font-size: 12px;
  list-style-type: none;
  text-align: center;
}

.filters{
  position:fixed;
  background: white;
  width: 150px;
  z-index: 10;
  right: -100%;
  top: 68px;
  box-shadow: -1px 3px 5px rgba(0,0,0,0.2);
  transition: 0.4s;
}

.filters ul li{

  font-family: 'Roboto', san-serif;
  font-size: ..9em;
  padding-top: 7px;
  padding-left: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  list-style-type: none;
  margin: 0 0 0 -40px;
  border-bottom: 1px solid #DEDEDE;
}

.feed{
  padding-top: 20px;
  margin-left: 85px;
}
.feed-item{
  display: block;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  background: white;
  padding-left: -100px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  transition:  0.7s;
  
}
.feed-item .icon-holder{
  width: 55px;
  float: left;
  margin: 21px 20px 0 25px;
}
.feed-item .icon-holder .icon{
  width: 55px;
  height: 55px;
  border-radius: 100%;
  float: left;
  background-image: url('https://lh3.googleusercontent.com/-Az9OhFIaxEY/AAAAAAAAAAI/AAAAAAAAAAA/iHtDLHxQMFc/photo.jpg');
  background-size: 55px 55px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.feed-item .text-holder{
  margin-top: 22px;
  width: 75%;
  float: left;
}
.feed-item .spacer{
  width: 10%;
  float: left;
}
.feed-description{
  font-size: 15px;
  font-weight: 300;
  color: #888;
  height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-options-holder{
  float: right;
  height: 100%;
  width: 30px;
  background: #EEE;
  padding: 12px;
  transition: background 0.2s;
}
.post-options-holder:hover{
  background: #DDD;
}
.feed-title{
  font-size: 15px;
  font-weight: 500;
}
.blog{
  overflow: hidden;
}
.portfolio{
  overflow: hidden;
}

/*Lower Right Button to Add Feed Item*/

#plus{ 
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #E53935;
  position: fixed;
  float: right;
  bottom: 15px;
  right: 15px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5);
  text-align:center;
  cursor: pointer;
  color: #FFF;
  /*Align Icon to Center of circle*/
  text-align: center;
  line-height: 60px; /*Height of container*/
  vertical-align: middle;
}
#plus:hover{
  background: #F44336;
}

/* ====================  FORM START ========================*/
h2{
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 10px;
}

#activityform{
  width:85%;
  min-width: 500px;
  height: 0px;
  background: #EDEDED;
  margin: 10% auto;
  padding: 20px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.4);
  z-index: -2;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: 0.2s;
  float: top;
}

#formHolder{
  float: left;
  height: 100%;
  width: 50%;
  background: #FFF;
  padding: 20px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  z-index: 2;
}
#spacer, #spacertwo{
  float: left;
  width: 2.5%;
  height: 100%; 
}
#register{
  float: left;
  background: #FFF;
  padding: 20px;
  height: 100%;
  width: 47.5%;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  z-index: 2;
  
}
.desc{
  margin-bottom: 100px;
}
textarea, input{
  width: 100%;
  resize: none;
  margin-bottom: 10px;
  margin-top: 5px;
}

input[type="text"], input[type="password"], textarea{
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  outline: none;
} 
input[type="text"]:focus, input[type="text"].focus,
input[type="password"]:focus, input[type="password"].focus,
textarea.focus, textarea: focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

/*submit button*/
input[type="submit"]{
  border: none;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  background: #333;
  padding: 8px 10px 8px 10px;
  text-decoration: none;
}

input[type="submit"]:hover {
  background: #E53935;
  text-decoration: none;
}



select {
    width: 100%;
    padding:7px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background: #EEE;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    margin-bottom: 10px;
    margin-top: 5px;
}
#forget a{
  text-decoration: none;
  color: #222;
  font-size: .7em;
}
#forget a:hover{
  color:#E53935;
}

#logoutbut a{
  float: right;
  z-index: 100;
  font-size: .6em !important;
  text-decoration: none;
  color: #FFF;
  margin-right: 10px;
  margin-top: 2px;
}
#logoutbut a:hover{
  color:#E91E63;
}
@media all and (max-width: 855px){
  
  #loginform, #register, #formHolder {width: 100%}
  #spacer{
    height: 20px;
  }
  #activityform{
    height: auto;
    overflow: auto;
    min-width: 200px;
  }
}

/*END FORM*/

@media all and (min-width: 1000px){
  .nav{
    margin-left: 0px !important;
  }
  .bodyholder{
    position: relative;
    padding-left: 240px;
  }
  .toolbar #hamburger{
    visibility: hidden;
  }
  #activityform{
    width: 50%;
    margin-left: 30%;
  }


}

@media all and (max-width: 1000px){
  body{
    background: #;
  }
  .col-1-3{
    width: 100%;
  }
  .feed-item{
    margin-left: 0px;
    margin-bottom: 1px;
    box-shadow:none;
  }
  .feed{
    margin-top: -2px;
    margin-left: 0;
  }
  .boxes{
  margin: 110px auto 0 auto;
  width: 0%;
  }

  #content{
  margin: 50px auto 50px auto;
  min-width: 300px;
  width: 100%;

  }

  #activityform{
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
  }
  
}

@media all and (max-width: 560px){.feed-item .text-holder{width: 70%}}
@media all and (max-width: 470px){.feed-item .text-holder{width: 60%}}
@media all and (max-width: 360px){.feed-item .text-holder{width: 50%}}